#login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #334285;
}

#error-message {
    text-align: center;
}

#login-success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-welcome-message {
    margin-bottom: 2rem;
}

#login-success-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: max-content;
    text-align: center;
}