@inherits FluxorComponent

@page "/users/{Id:int?}"

@if (Id.HasValue)
{
    @if (ProfileState!.Value.hasErrored)
    {
        <h3>We encountered an error, please try again.</h3>
    }
    else if (ProfileState!.Value.isLoading)
    {
        <h3>Loading profile...</h3>
    }
    else
    {
        <div id="user-container">
            <img src=@User?.Image alt="User profile picture" />
            <h1>@User?.Username</h1>
            <h3>@User?.Name</h3>
            <p># of jokes: @(User?.Jokes?.Count ?? 0)</p>
            <div id="jokes-list">
                @foreach (var joke in User?.Jokes) {
                    <a id="jokes-list-item" href=@joke.Id>
                        <p>@joke.Content</p>
                    </a>
                }
            </div>
        </div>
    }
}
else
{
    <p>No Id was provided, unable to get user profile</p>
}