#submit-container {
    border: 1px solid lightgray;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form::deep {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}