#submit-container {
    background-color: #334285;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

form::deep {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}