.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

main {
    font-weight: lighter;
    color: lightgray;
    height: 100%;
    width: 100%;
    max-width: 35rem;
    overflow: auto;
}

article.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}